@import "preflight.css";

html {
  font-size: 16px;
}

body {
  padding: 0.125rem 0.5rem;
  width: 400px;
}

h2 {
  font-weight: 600;
  margin-bottom: 1rem;
}

.todo {
  min-width: max-content;
}

.checkbox {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: rgb(14, 66, 66);
}
