@import "preflight.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");
:root {
  --primary: #fff;
  --text: #1f1f1f;
  --placeholder: #ddd;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto Mono", monospace;
  min-width: 320px;
  max-width: 400px;
  margin: 0 auto;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

button {
  padding: 4px 8px;
  color: #383939;
  font-weight: 600;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
}

button:hover {
  background-color: #c6c6c6;
  color: #1f1f1f;
}

/* DUMMY CLASSES FOR EASE */

li {
  border-radius: 4px;
}

span {
  display: inline-block;
  /* padding: 4px; */
}

li:hover {
  background-color: rgb(195, 195, 195);
}

/* ends here */

.todo {
  min-width: max-content;
}

.habitToggle:checked + [contenteditable="true"] {
  text-decoration: line-through;
  color: var(--placeholder);
}

[contenteditable="true"]:empty:before {
  content: attr(data-placeholder);
  color: var(--placeholder);
}

.delete {
  display: none;
}

li:hover > .delete {
  display: inline-block;
}

[contenteditable="true"]:focus-visible + .delete {
  display: inline-block;
}

li:hover > [contenteditable="true"]:empty:before {
  color: var(--text);
}

.focus-text {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin: 64px 24px 12px;
}

.cog {
  fill: #1f1f1f;
  padding: 2px;
  border-radius: 4px;
}

.cog:hover {
  background: #e6e6e6;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 36px 24px;
}

.settings-container {
  position: absolute;
  background-color: #fff;
  top: 0;
  width: 100vw;
  height: 100vh;
  margin: 36px 24px;
}

.hidden {
  display: none;
}

.back-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -26px;
  left: -14px;
  width: 18px;
  height: 18px;
  border-radius: 4px;
}

.back-button:hover {
  background-color: #e6e6e6;
}

.back-arrow {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-top: solid 1px #1f1f1f;
  border-left: solid 1px #1f1f1f;
  transform: rotate(-45deg);
  margin-left: 4px;
}
